<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330854842489-c25b86f35mmp4ckogq99l06tn52jj4ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330854842489-c25b86f35mmp4ckogq99l06tn52jj4ki</string>
	<key>API_KEY</key>
	<string>AIzaSyApuKkvBtkbKSn44E_EtBrlQ4ENFy7FVS4</string>
	<key>GCM_SENDER_ID</key>
	<string>330854842489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esearchlogix.Dawadawa</string>
	<key>PROJECT_ID</key>
	<string>dawadawa-f9843</string>
	<key>STORAGE_BUCKET</key>
	<string>dawadawa-f9843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330854842489:ios:2db17b50d4ce55aa4914a8</string>
</dict>
</plist>